.product__view {
  max-width: 600px;
}
.image {
  width: 100%;
  height: 600px;
}
.image img {
  height: inherit;
  object-fit: cover;
}
.images {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}
.images button {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: none;
  display: grid;
  place-content: center;
  overflow: hidden;
}
.images img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.image__zoom {
  width: 100%;
  height: 100%;
}
