.card {
  display: grid;
  place-items: start;
}
.card img {
  width: 4rem;
  object-fit: cover;
  height: auto;
}
.card h2 {
  margin-top: 1rem;
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  color: var(--black);
}
.card p {
  font: normal normal 400 0.8rem/1.3rem var(--font-primary);
  margin-top: 0.5rem;
  color: var(--black-50);
}
.card button {
  border: none;
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--black);
  transition: all 0.3s;
}

.card button:hover {
  background-color: var(--black-5);
}
