.card {
  padding: 3rem 1.5rem;
  width: 100%;
  max-width: 350px;
  border-radius: 0.8rem;
  background-color: var(--blue-5);
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card__icon {
  background-color: var(--blue);
  display: grid;
  place-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.card__icon img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  filter: brightness(22);
}
.card h2 {
  margin-top: 3rem;
  font: normal normal 600 1rem/1.2rem var(--font-primary);
  color: var(--black);
  text-align: left;
}
.card p {
  margin-top: 0.5rem;
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--black-70);
  text-align: left;
}
.card span {
  display: block;
  margin-top: 1.5rem;
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  color: var(--black);
  text-align: left;
}
