.modal {
  position: absolute;
  background-color: var(--white);
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow);
  top: 3rem;
  right: 0;
  width: 200px;
}
.modal svg {
  color: var(--black-50);
}
.modal p {
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black);
  text-align: center;
  margin-top: 1rem;
}
.modal button {
  font: normal normal 700 0.8rem/1.2rem var(--font-primary);
  margin-top: 0.5rem;
  text-transform: uppercase;
  color: var(--black);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--blue);
  text-align: center;
}
