.section {
  width: 100%;
  margin: 10rem auto 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.section__intro h2 {
  font: normal normal 700 1.3rem/1.8rem var(--font-primary);
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

.section__intro p {
  font: normal normal 400 0.8rem/1.5rem var(--font-primary);
  color: var(--black-50);
  text-align: center;
  margin: 1.25rem auto 0 auto;
  max-width: 40rem;
}

.section__contain {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 6rem 0 2rem 0;
  position: relative;
}

.section__decoration {
  height: 60%;
  top: 0;
  width: 100%;
  background-color: var(--cream);
  position: absolute;
}
