.question {
  padding: 3.5rem 3rem;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  background-color: var(--blue);
  border-radius: 0.5rem;
  align-items: center;
  bottom: 4rem;
  flex-direction: column;
  justify-content: center;
}
.question p {
  font: normal normal 600 1rem/1.5rem var(--font-primary);
  color: var(--white);
  text-align: center;
}
.question button {
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  color: var(--blue);
  background-color: var(--white);
  border-radius: 0.4rem;
  padding: 0.8rem 1.5rem;
  border: none;
  margin-top: 1rem;
  transition: 0.3s;
}
.question button:hover,
.question button:focus {
  filter: brightness(0.9);
}

@media (min-width: 720px) {
  .question {
    justify-content: space-around;
    flex-direction: row;
  }
  .question p {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .question button {
    margin-top: 0;
  }
}
