.section{
  margin: 5rem auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem ;
}
.section h2{
  font: normal normal 700 1.3rem/1.2rem var(--font-primary);
  color: var(--black);
  text-transform: capitalize;
}
.section p{
  font: normal normal 400 0.8rem/1.5rem var(--font-primary);
  color: var(--black-50);
  max-width: 720px;
  width: 100%;
}
.section__package{
  background-color: var(--purple);
  display: grid;
  padding: 4rem 2rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
} 
.section__package p{
  color: var(--white);
  font-weight: 600;
}
.section__package span{
  font: normal normal 700 1rem/1.5rem var(--font-primary);
  color: var(--blue-70);
}
@media (min-width: 1200px){
  .section__package{
    grid-template-columns: repeat(3, 1fr);
  }
}