.contain {
  position: relative;
  width: 100%;
  max-width: 750px;
}
.contain__switch {
  position: relative;
}

.good {
  position: absolute;
  object-position: left center;
  object-fit: cover;
  height: auto;
  width: 100%;
  transition: 0.3s;
  top: 0;
}
.bad {
  object-position: left center;
  object-fit: cover;
  height: 500px;
  width: 100%;
  transition: 0.3s;
}
.drag {
  height: 500px;
  width: 10px;
  background-color: white;
  position: absolute;
  transition: 0.3s;
  cursor: pointer;
  top: 0;
  z-index: 500;
  right: 0;
}
.drag::after {
  content: "";
  width: 75px;
  height: 75px;
  background-color: transparent;
  position: absolute;
  border-radius: 250px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -33px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border: 2px solid var(--blue);
}
.drag div {
  width: 60px;
  height: 60px;
  background: var(--blue);
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal 700 0.6rem/1rem var(--font-primary);
  letter-spacing: 0.05rem;
  color: var(--white);
}
