.section{
  width: 100%;
  max-width: 1200px;
  margin: 10rem auto;
}
.section__grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 2rem;
}
.section__grid .container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}
.section__grid__item h3{
  font: normal normal 600 1rem/1.2rem var(--font-primary);
  color: var(--black);
}
.section__grid__item li{
  margin-top: 0.5rem;
  font: normal normal 400 0.8rem/1.3rem var(--font-primary);
  color: var(--black);
  opacity: 0.7;
  list-style: initial;
}
.section__grid__item ul{
  padding-left: 2rem;
}