.card{
  background-color: var(--white);
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  padding: 0 1rem 2rem 1rem;
  width: 270px;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}
.card__avatar{
  width: 4rem;
  height: 4rem;
  border: 3px solid var(--blue);
  border-radius: 5rem;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
  bottom: 2rem;
}
.card__container p{
  font: normal italic 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black-50);
  text-align: center;
}
.card__container h4{
  font: normal normal 600 1rem/1.5rem var(--font-primary);
  color: var(--black);
  margin-top: 1rem;
  text-align: center;
}
.card__container span{
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black-50);
  text-align: center;
  display: block;
}
