.card__title {
  margin-bottom: 2rem;
}
.card__title span {
  font: normal normal 700 1rem/1.5rem var(--font-primary);
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.card__title h2 {
  font: normal normal 700 1.3rem/1.8rem var(--font-primary);
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.card__contain {
  padding-left: 2rem;
  max-width: 25rem;
  width: 100%;
  display: grid;
  gap: 3rem;
}
.card__contain__item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}
.card__contain__item span {
  border-radius: 1rem;
  background-color: var(--blue);
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
  padding: 0.2rem;
}

.card__text {
  font: normal normal 600 0.8rem/1.5rem var(--font-primary);
  color: var(--black);
}
.card__text--light {
  color: var(--black-50);
  font-weight: 400;
}
.card__button {
  font: normal normal 700 0.8rem/1.5rem var(--font-primary);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.5rem 2rem;
  background-color: var(--blue);
  border: none;
  border-radius: 0.2rem;
  transition: 0.3s;
}
.card__button:hover,
.card__button:focus {
  background-color: var(--blue-70);
}
