.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--black-transparent-1);
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
}
.modal__contain {
  width: 100%;
  max-width: 300px;
  position: relative;
  background: var(--white);
  height: 100vh;
  overflow: auto;
}
.modal__contain__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--black-10);
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 300px;
  background-color: var(--white);
  z-index: 400;
}
.modal__contain__title h2 {
  font: normal normal 600 0.9rem/1.2rem var(--font-primary);
  color: var(--black);
}
.modal__contain__title button {
  border: none;
  border-radius: 0.3rem;
  background-color: var(--white);
  padding: 0.2rem;
  display: grid;
  place-items: center;
  transition: 0.3s;
}
.modal__contain__title button:hover,
.modal__contain__title button:focus{
  background-color: var(--black-5);
}
.modal__contain__title svg {
  width: 1.2rem;
  height: 1.2rem;
}
.modal__contain__products {
  display: grid;
  padding: 4rem 0 8rem 0;
}
.modal__nothere{
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.modal__nothere img, 
.modal__nothere svg{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  filter: grayscale(10);
  color: var(--black-10);
}
.modal__nothere h4{
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  color: var(--black);
  margin-top: 1rem;
}
.modal__nothere button{
  border: none;
  background-color: var(--blue);
  font: normal normal 600 0.6rem/1rem var(--font-primary);
  color: var(--white);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.modal__nothere button:focus,
.modal__nothere button:hover{
  filter: brightness(0.8);
}
