.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 14rem;
  width: 100%;
}
.image{
  border-radius: 15rem;
  padding: 2rem;
  background-color: var(--white);
}
.image img{
  object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
}
.separate{
  width: 100%;
  height: 2px;
  border-radius: 1rem;
  background-color: var(--blue);
  margin-bottom: 1.5rem;
}
.text{
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black-50);
  text-align: center;
  margin-top: 0.5rem;
}
.text--bold{
  font: normal normal 700 0.8rem/1rem var(--font-primary);
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}
.button{
  margin-top: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0.2rem;
  font-size: 0.6rem;
  transition: 0.3s;
  outline: none;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
}