header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background: var(--white);
  border-bottom: 1px solid var(--black-5);
}

.nav {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

.nav__logo img {
  height: auto;
  width: 4rem;
  object-fit: contain;
}

.nav__pages {
  display: none;
  gap: 2rem;
  align-items: center;
}
.nav__link:hover,
.nav__link:focus {
  opacity: 0.7;
}
.nav__link {
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black);
  position: relative;
  transition: 0.3s;
}
.nav__link--active,
.nav__link--bold {
  font-weight: 600;
}
.nav__button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0.2rem;
  border: 1px solid var(--black);
  font-size: 0.6rem;
  transition: 0.3s;
  outline: none;
}
.nav__button:hover,
.nav__button:focus {
  opacity: 1;
  background-color: var(--black);
  color: var(--white);
}

.nav__ham {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  transition: 0.3s;
}
.nav__ham svg {
  stroke: var(--black);
}

@media (min-width: 720px) {
  .nav {
    padding: 0.5rem 1rem;
  }
  .nav__logo img {
    height: auto;
    width: 6.25rem;
    object-fit: contain;
  }
  .nav__pages {
    display: flex;
  }
  .nav__ham {
    display: none;
  }
}
.nav__ham:hover,
.nav__ham:focus {
  background-color: var(--black-10);
  outline: none;
}
