.form__submit {
  background-color: var(--strong-blue);
  color: var(--white);
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.form__submit:hover,
.form__submit:focus {
  filter: brightness(0.8);
}
