.section{
  max-width: 1200px;
  width: 100%;
  margin: 7rem auto 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.section__intro h2{
  font: normal normal 700 1.3rem/1.8rem var(--font-primary);
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: left;
}
.section__intro p{
  font: normal normal 400 0.8rem/1.5rem var(--font-primary);
  color: var(--black-50);
  text-align: left;
  margin-top: 1.25rem;
  max-width: 40rem;
}
.section__cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  margin-top: 5rem;
  gap: 3rem;
  place-items: center;
  margin-bottom: 4rem ;
  place-content: center;
}
.button{
  margin: 0 auto;
  text-transform: uppercase;
  padding: 0.5rem 4rem;
  font-weight: 700;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  transition: 0.3s;
  border: none;
  background-color: var(--blue);
  color: var(--white);
}
.button:hover,
.button:focus{
  background-color: var(--blue-70);
}

@media (min-width: 1200px){
  .section__cards{
    place-content: start;
  }
}
