.cards{
  display: flex;
  gap: 4rem;
}

.cards__controls{
  display: flex;
  gap: 2rem;
}
.cards__controls button{
  border-radius: 2rem;
  padding: 0.5rem;
  border: 1px solid var(--blue);
  background-color: transparent;
  transition: 0.3s;
  display: grid;
  place-items: center;
}
.cards__controls button:hover,
.cards__controls button:focus{

}