.product__info {
  display: flex;
  flex-direction: column;
}
.product__info h1 {
  font: normal normal 700 1.5rem/1.5rem var(--font-primary);
  color: var(--black);
  margin-top: 2rem;
}
.product__info h2 {
  font: normal normal 700 1rem/1.2rem var(--font-primary);
  color: var(--black);
}
.product__info p {
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black-50);
}
.product__info__description {
  margin-top: 2rem;
}
.buy {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.buy__count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.buy__count button {
  width: 2.5rem;
  height: 2rem;
  font: normal normal 700 1rem/1.2rem var(--font-primary);
  border-radius: 0.3rem;
  color: var(--black-50);
  border: 1px solid var(--black-50);
  display: grid;
  place-items: center;
  background-color: transparent;
  transition: 0.3s;
}
.buy__count button:hover,
.buy__count button:focus{
  background-color: var(--black-5);
}
.buy__count svg{
  width: 16px;
}
.buy__bag {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--white);
  background-color: var(--blue);
  border: none;
}
.wish {
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black);
  background-color: var(--black-5);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
  transition: 0.3s;
}
.wish:hover,
.wish:focus{
  background-color: var(--black-10);
}
.product__info__price {
  margin-top: 1rem;
}
.product__info__price span{
  font: normal normal 700 1.2rem/1.2rem var(--font-primary);
  color: var(--blue);
}
.product__info__actions{
  display: flex;
  justify-content: end;
}
.actions__next{
  display: flex;
  gap: 0.5rem;
}
.actions__next button{
  border: none;
  border-radius: 5rem;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  background-color: var(--black-5);
  transition: 0.3s;
}
.actions__next span{
  display: grid;
  place-items: center;
}
.actions__next button:hover,
.actions__next button:focus{
  background-color: var(--black-10);
}
.actions__next svg{
  width: 16px;
  color: var(--black);
}
.product__info__specific{
  margin:1rem 0
}
.specific b{
  font: normal normal 600 0.8rem/1.2rem var(--font-primary);
  color: var(--black);
}
.specific div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.specific svg{
  width: 20px;
  color: var(--black);
}
.specific{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--black-5);
}
.extra{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.extra b{
  font: normal normal 600 0.8rem/1.2rem var(--font-primary);
  color: var(--black);
}
.extra__details{
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.extra__details{
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black-50);
}
.extra__details svg{
  width: 20px;
  color: var(--black-50);
}