.modal {
  position: absolute;
  background-color: var(--white);
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  top: 3rem;
  right: 0;
  width: 200px;
  display: grid;
  place-items: center;
}
.modal a,
.modal button {
  padding: 0.5rem 2rem;
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  border: none;
  background-color: transparent;
  transition: 0.3s;
  display: block;
  width: 100%;
  text-align: start;
  color: var(--black);
}
.modal a:hover,
.modal a:focus,
.modal button:hover,
.modal button:focus {
  background-color: var(--black-10);
}
