.brands {
  display: grid;
  place-items: start;
}
.brands h3 {
  font: normal normal 600 1rem/1.2rem var(--font-primary);
  color: var(--black);
  border-bottom: 1px solid var(--black-10);
  padding-bottom: 0.5rem;
  width: 100%;
}
.brands__container{
  margin-top: 1rem;
  width: 100%;
}
.brands__checkboxes{
  display: grid;
  margin-top: 0.5rem;
  height: 250px;
  overflow: auto;
  padding: 0 1rem;
}
.brands__checkboxes span{
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  text-transform: capitalize;
  color: var(--black);
}