.section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 2%;
}
.info h2 {
  font: normal normal 700 1.3rem/1.5rem var(--font-primary);
  max-width: 300px;
  width: 100%;
  color: var(--black);
}
.info p {
  margin-top: 1rem;
  font: normal normal 400 0.8rem/1.3rem var(--font-primary);
  color: var(--black-50);
  max-width: 400px;
  width: 100%;
}
.section__button {
  background: var(--blue);
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--white);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.4rem;
  margin-top: 1rem;
  transition: all 0.3s;
}
.section__button:hover {
  background-color: var(--blue-70);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 5%;
}
