.input label {
  font: normal normal 700 0.7rem/0.8rem var(--font-primary);
  color: var(--black);
  margin-bottom: 0.5rem;
  letter-spacing: 0.05rem;
  display: block;
}
.input__contain {
  border: 1px solid var(--black-50);
  background-color: var(--white);
  border-radius: 0.3rem;
  position: relative;
  transition: 0.3s;
}
.input__text {
  background-color: transparent;
  border: none;
  padding: 0.7rem 1rem 0.7rem 2.5rem;
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--black);
  width: 100%;
  transition: 0.3s;
  outline: none;
  border-radius: 0.5rem;
}
.input__text--without {
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.textarea__text {
  height: 100px;
}
.input__text::placeholder {
  color: var(--black-50);
}
.input__contain svg {
  position: absolute;
  top: 0rem;
  left: 0.5rem;
  color: var(--black-50);
  width: 20px;
  height: 20px;
  bottom: 0;
  margin: auto 0;
  transition: 0.3s;
}
.input__text:focus + svg {
  color: var(--strong-blue);
}
.required {
  font: normal normal 700 0.6rem/1rem var(--font-primary);
  color: var(--blue);
}
.input__error {
  font: normal normal 700 0.6rem/1rem var(--font-primary);
  color: var(--purple);
  position: absolute;
  bottom: -1rem;
}
.hidden {
  -webkit-text-security: disc !important;
}
.btn__show {
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  background-color: transparent;
  font: normal normal 700 0.6rem/1rem var(--font-primary);
  color: var(--blue);
  text-transform: uppercase;
}
